INPUT_CHANGES_FILE=changelog.md
INPUT_OUTPUT_FILE=output.md

INPUT_NAME=
INPUT_CHECK_REF=

INPUT_VERSION=
INPUT_VERSION_FILE=

INPUT_START_LINE='<!-- towncrier release notes start -->'
INPUT_HEAD_LINE='##\s{name}\s\[{version}\]\(.*\)[\s-]*({date})'

INPUT_FIX_ISSUE_REGEX=
INPUT_FIX_ISSUE_REPL=
