-r requirements.txt

# Development libraries
lefthook>=1.10.1,<2
pyright[nodejs]>=1.1.391,<2
ruff>=0.8.5,<1
tox>=4.23.2,<5

# For developmental purposes only
towncrier>=24.8.0,<25
python-dotenv>=1.0.1,<=2